/*css file for web*/

        body {
            background-image: url(./photo/background.jpg);
        }

        h1 {
            text-align: center;
            color: brown;
            font-family: 'Josefin Sans', sans-serif;
        }

        #container1 {
            display: grid;
            width: 90%;
            padding: 20px;
            grid-template-columns: 300px 1fr;
            grid-template-rows: 1fr;
            grid-gap: 10px;
        }

        .item1 {
            text-align: left;
            font-family: 'Yellowtail', cursive;
        }

        #moshself {
            width: 300px;
            height: auto;
        }

        #smallfont {
            font-size: 12px;
        }

        .item1 p {
            margin-top: 20%;
        }

        #container2 {
            display: grid;
            width: 90%;
            padding: 20px;
            grid-template-columns: 100%;
            grid-template-rows: repeat(15, auto);
            row-gap: 20px;
        }

        .item2 {
            text-align: left;
            font-weight: bold;
            font-size: 23px;
            font-family: 'Chakra Petch', sans-serif;
        }

        .item2 img {
            width: auto;
            height: 500px;
        }

        .item2 h3 {
            font-family: 'Chakra Petch', sans-serif;
            font-weight: 1000;
            font-style: italic;
            color:rgb(6, 88, 17);
        }

        .item2 span {
            font-size: xx-large;
            color: rgb(17, 0, 255);
            font-weight: bolder;
        }

        .description {
            font-family: 'Yellowtail', cursive;
            font-size: 15px;
            color: rgb(170, 8, 121);
        }